@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abril Fatface', sans-serif, cursive;
}

html{
  height: 100%;

  body{
    height: 100%;

    #__nuxt{
      height: 100%;      
    }
  }
}


